html, body { 
  background-color:#000;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
  overflow: hidden !important;  
}


/* Container for 3D and Slices */
.container1 {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* 3D Box */
#threeD{
  flex-grow: 3; /* Takes 40% of the available height */
  background-color: #000;
}

/* Container for Slices */
.slice-container {
  flex-grow: 7; /* Takes 60% of the available height */
  display: flex;
  flex-direction: row;
}

/* Individual Slices */
#sliceX, #sliceY, #sliceZ {
  flex-grow: 1;
  position: relative;
  width: 32%;
  align-content: center;
  background-color: #000;
}

h1 {
  color: white;
}

