html, body { 
	background-color:#000;
	margin: 0;
	padding: 0;
	align-items: center;
	height: 100%;
	overflow: hidden !important;  
  }
  
  /* Container for 3D and Slices */
  .container1 {
	display: flex;
	flex-direction: row;
	height: 100vh; /* Full viewport height */
  }
  
  /* 3D Box */
  #threeD{
	flex-grow: 3; /* Takes 30% of the available height */
	background-color: #000;
	border: #005af5;
	border-style: solid;
	border-width: 2px;
	margin-right: 5px;
  }
  
  /* Container for Slices */
  .slice-container {
	flex-grow: 7; /* Takes 70% of the available height */
	display: flex;
	flex-direction: row;
  }

  .last-container {
	flex-grow: 1; 
	width: 33%;
	display: flex;
	flex-direction: column;
  }
  
  /* Individual Slices */
  #sliceX, #sliceY {
	flex-grow: 2;
	padding: 20px;
	height: 70%;
	position: relative;
	width: 50%;
	align-content: center;
	background-color: #000;
	border: #07f807;
	border-style: solid;
	border-width: 2px;
	margin-right: 5px;
  }

  #sliceZ{
	flex-grow: 1;
	position: relative;
	height: 50%;
	border: #005af5;
	border-style: solid;
	border-width: 2px;
	margin-right: 5px;
  }

  
  h1 {
	font-size: 24px;
	margin: 0;
	color: #ffffff;
  }
  
  
  /* form css */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  .form-container {
	  width: 100vw;
	  height: 100vh;
	  background-color: #000000;
	  display: flex;
		 justify-content: center;
	  align-items: center;
  }
  .upload-files-container {
	  background-color: #f7fff7;
	  width: 420px;
	  padding: 30px 60px;
	  border-radius: 40px;
	  display: flex;
		 align-items: center;
		 justify-content: center;
	  flex-direction: column;
	  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
  }
  .drag-file-area {
	  border: 2px dashed #7b2cbf;
	  border-radius: 40px;
	  margin: 10px 0 15px;
	  padding: 30px 50px;
	  width: 350px;
	  text-align: center;
  }
  .drag-file-area .upload-icon {
	  font-size: 50px;
  }
  .drag-file-area h3 {
	  font-size: 26px;
	  margin: 15px 0;
  }
  .drag-file-area label {
	  font-size: 19px;
  }
  .drag-file-area label .browse-files-text {
	  color: #7b2cbf;
	  font-weight: bolder;
	  cursor: pointer;
	  top: auto;
  }
  .browse-files span {
	  position: relative;
	  top: -25px;
  }
  .default-file-input {
	  opacity: 0;
	  position: absolute;
	  z-index: -1;
	  text-decoration: none;
  }
  .alert {
	font-weight: bold;
	color: #BB0000;
	font-size: 20px;
  }
  .cannot-upload-message {
	  background-color: #ffc6c4;
	  font-size: 17px;
	  display: flex;
	  align-items: center;
	  margin: 5px 0;
	  padding: 5px 10px 5px 30px;
	  border-radius: 5px;
	  color: #BB0000;
	  display: none;
  }
  @keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
  }
  .cannot-upload-message span, .upload-button-icon {
	  padding-right: 10px;
  }
  .cannot-upload-message span:last-child {
	  padding-left: 20px;
	  cursor: pointer;
  }
  .file-block {
	  color: #f7fff7;
	  background-color: #000000;
		transition: all 1s;
	  width: 390px;
	  position: relative;
	  display: none;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  margin: 10px 0 15px;
	  padding: 10px 20px;
	  border-radius: 25px;
	  cursor: pointer;
  }
  .file-info {
	  display: flex;
	  align-items: center;
	  font-size: 15px;
  }
  .file-icon {
	  margin-right: 10px;
  }
  .file-name, .file-size {
	  padding: 0 3px;
  }
  .remove-file-icon {
	  cursor: pointer;
  }
  .progress-bar {
	  display: flex;
	  position: absolute;
	  bottom: 0;
	  left: 4.5%;
	  width: 0;
	  height: 5px;
	  border-radius: 25px;
	  background-color: #4BB543;
  }
  .upload-button {
	  font-family: 'Montserrat';
	  background-color: #000000;
	  color: #f7fff7;
	  display: flex;
	  align-items: center;
	  font-size: 18px;
	  border: none;
	  border-radius: 20px;
	  margin: 10px;
	  padding: 7.5px 50px;
	  cursor: pointer;
  }

  .coordinate-box {
	border: 1px solid white;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
  }
  
  .coordinate-edit {
	display: flex;
	gap: 10px;
	align-items: center;
  }
  
  .coordinate-display {
	display: flex;
	flex-direction: column;
  }
  
  .coordinate-values {
	margin-bottom: 10px;
	color: white;
  }
  
  .coordinate-buttons button {
	margin-right: 10px;
  }

  .sidebar {
	max-height: 100vh; /* Adjust the max-height as per your layout */
	overflow-y: auto; /* Enables vertical scrolling */
	padding: 10px;
	/* border-right: 1px solid #ddd; Just for better visibility */
	/* Other styles for your sidebar */
  }

  /* Add this to your CSS file */
.sidebar-button {
	/* Button styling */
	background-color: #444; /* Default background */
	color: white; /* Default text color */
	/* Other styles like padding, border, etc. */
  }
  
  .sidebar-button:hover {
	background-color: #666; /* Background on hover */
	color: #ddd; /* Text color on hover */
  }